.jumbotron {
  background-color: #27cc27;
  color: white;
  margin-top: 50px;
  margin-bottom: 5px; }

.hotel-card {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn_mas {
  width: 100%;
  border-radius: 0px; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #27cc27;
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-address-icon {
  padding-right: 10px; }

a {
  color: white; }

a.nav-menu {
  color: #27cc27; }

a.nav-link {
  color: white; }

a.nav-link.dark {
  color: #18b0ec; }

img.card-img-top {
  height: 200px; }

.tab-content {
  padding-top: 2%;
  padding-bottom: 2%; }
